/*cp4, CSS 스타일*/

*{
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	color: #000;
}

h1 /*h1 cp4, 40픽셀 텍스트*/
{
	font-size: 40px;
	font-weight: 100;
}
.contents1 /*contents 클래스 cp4, 20픽셀 텍스트, 폰트 두께 얇게*/
{
	font-size: 20px;
	font-weight: lighter;
}

.contents1_bold /*contents1_bold 클래스 cp4, 18픽셀 텍스트, 볼드체*/
{
	font-size: 18px;
	font-weight: bold;
}

.contents2 /*contents2 클래스 cp4, 18픽셀 텍스트*/
{
	font-size: 18px;	
}

.contents3 /*contents3 클래스 cp4, 14픽셀 텍스트*/
{
	font-size: 14px;
	font-weight: 100%;
}

.number /*number 클래스 cp4, 24픽셀 텍스트*/
{
	font-size: 24px;
}

.intro_bg /*intro_bg 클래스 뒷 배경 회색 크기에 맞게, 높이 514 cp4*/
{
	background-image:url("Top.png");
	width:100%;
	height:514px;
}

.header /*header 클래스  가로 1280, 높이 50 cp5 display*/
{
	display: flex;
	width: 1280px;
	margin: auto;
	height: 50px;
}

.searchArea /*searchArea 클래스 가로 300, 세로 40, cp4 border*/
{
	width: 300px;
	height: 40px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 24px;
}

.searchArea > form > input /*searchArea 클래스의 자식 form의 자식 input에 적용 cp4 CSS 스타일 꾸미기 */
{
	border: none;
	width: 250px;
	height: 40px;
	background: rgba(0, 0, 0, 0.0);
	color: #fff;
	padding-left: 10px;
}

.searchArea > form > span /*흰 글씨 볼드체 cp4 CSS 웹 꾸미기*/
{
	width: 50px;
	color: #fff;
	font-weight: bold;
}

.nav 
{
	display: flex;
	justify-content: flex-end;
	line-height: 86px;
	width:calc(1280px - 300px);
}

.nav > li
{
	margin-left:84px;
}

.nav > li > a
{
	color: #fff;
}

.info
{
	position: relative; /*cp5, position 배치*/
	top: -66px;
	display: flex;
	width: 1280px;
	background: #fff;
	box-shadow: 0px, 10px 0px rgba(0, 0, 0, 0.5); /*cp4, box-shadow x,y,blur,color*/
	margin: auto;

}

.info > li
{
	flex: 1;
	height: 132px;
}

.info > li > div
{
	text-align: center;
	margin-top: 37px;
	height: 57px;
}

.info > li:not(:last-child) > div
{
	border-right: 1px solid gray;
}


.intro_text
{
	width: 100%;
	margin: 231px auto 231px auto;
	background: black;
	text-align: center;
}

.intro_text > h1,
.intro_text > h4
{
	color: #fff;
} 

.main_text0
{
	width: 100%;
	height: 601px;
	margin-top: -132px;
	background: #f1f2f3;
}

.main_text0 > h1
{
	padding-top: 116px;
	text-align: center;
}

.main_text0 > .contents1
{
	text-align: center;
}

.icons
{
	display: flex;
	width: 1280px;
	height: 302px;
	margin: auto;
}

.icons > li
{
	flex: 1;
	background: white;
	height: 302px;
	margin-top:49px;
	text-align: center; 
}

.icons > li > .icon_img
{
	margin-top: 36px;
}

.icons > li:not(:last-child)
{
	margin-right: 20px;
}

.icons .contents2
{
	width: 190px;
	margin: auto;
	letter-spacing: -1px;
}

.more
{
	width: 100px;
	height: 30px;
	background: blueviolet;
	color: #fff;
	font-size: 12px;
	line-height: 30px;
	margin: 25px auto;
}

.main_text1
{
	width: 100%;
	height: 650px;
}

.main_text1 > h1
{
	padding-top: 50px;
	text-align: center;
}

.main_text1 > .contents1
{
	text-align: center;
}

.dev
{
	width: 1280px;
	display: flex;
	margin: 49px auto;
	height: 427px;
}

.dev > .contents2
{
	padding: 20px;
}

.dev > .contents2 > h2
{
	margin-bottom: 27px;
}

.main_text2
{
	width: 100%;
	height: 418px;
	background-image: url("contact.png");
}

.main_text2 > canvas
{
	text-align: center;
}

footer
{
	display: flex;
	background: #1f1f1f;
	padding: 30px;
}

footer > div:first-child
{ 
	flex: 3;
	text-align: center;
	color: #fff;
}

footer > div:last-child
{
	flex: 9;
	color: #fff;
}